/* header, main, footer {
    text-align: center;
    padding: 20px;
} */

h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    text-align: left;
    letter-spacing: 3px;
}

.opening {
    font-family: 'Playfair Display', serif;
    font-size: smaller;
    margin: 0;
}

.logo {
    float: left;
    margin-right: 15px;
    margin-bottom: -10px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.website-info .opening {
    margin-top: -10px;
}
  
nav {
    float: right;
    margin-top: 20px;
  }
  
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.recipe-info {
    margin-bottom: 20px;
}

h2 {
    font-family: 'Passion One', cursive;
}

.posted {
    font-family: 'Playfair Display', serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
}

.recipe-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.recipe-description {
    text-align: left;
    font-family: 'Playfair Display', serif;
}

.ingredient-list {
    background-image: url('assets/notebook.png');
    background-size: cover;
    -webkit-text-fill-color: none; /*will supposedly remove backround of the text*/
    padding: 50px 0;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

.ingredient-list h3 {
    margin-bottom: 10px;
}

.ingredient-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.ingredient-list li {
    width: 50%;
    display: flex;
    align-items: center;
}

/* .ingredient-list li.strikethrough {
    text-decoration: line-through;
} */



.author-info img {
    width: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.author-name {
    font-family: 'Passion One', cursive;
}

p {
    font-family: 'Playfair Display', serif;
}

.share-recipe-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.footer-text {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

hr {
    height: 10px;
    background-image: url();
    background-repeat: repeat-x;
    margin: 5px auto;
    width: 50%;
}

.footer-logo {
    text-align: center;
}
  