* {
    box-sizing: border-box;
}

body {
    width: 906px;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-info {
    display: inline-block;
}

h1 {
    font-family: 'Pacifico', cursive;
    margin: 0;
    text-align: left;
    letter-spacing: 3px;
}

.opening {
    font-family: 'Playfair Display', serif;
    font-size: smaller;
    margin: 0;
    display: flex;
    margin-top: -10px;
}

.logo {
    float: left;
    margin-right: 15px;
    margin-bottom: -10px;
}

.wrapper {
    display: inline-block;
    align-items: center;
}
  
nav {
    float: right;
    margin-top: 20px;
  }
  
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.recipe-info {
    width: 250px;
    margin-right: 0;
}

.top-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

h2 {
    font-family: 'Passion One', cursive;
    margin-bottom: 0;
    width: 250px;
}

.posted {
    font-family: 'Playfair Display', serif;
    margin: 0;
    width: 250px;
}

.print-button {
    font-family: 'Playfair Display', serif;
    float: right;
}

.recipe-image {
    width: 100%;
    height: auto;
}

.recipe-description {
    margin-top: 15px;
    text-align: left;
    font-family: 'Playfair Display', serif;
    text-indent: 40px;
}

.ingredient-list {
    background-image: url('img/list-bg.png');
    background-size: cover;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: medium;
}

.ingredients-list {
    text-align: center;
    margin-bottom: 20px;
}

.ingredients {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.part-1 {
    margin-right: 220px;
}

.part-1,
.part-2 {
    text-align: left;
    justify-content: center;
}

.part-1 ul,
.part-2 ul {
    list-style: none;
    padding: 0;
}

.part-1 li,
.part-2 li {
    margin: 10px 0;
}

.last-list {
    display: flex;
}

.divider {
    background-image: url("img/hr-img.png");
    background-repeat: repeat-x;
    background-size: px;
    height: 2px;
}

footer {
    text-align: left;
    width: 906px;
}

.author-footer {
    display: flex;
    align-items: center;
    margin: 0;
}

.author-img img {
    width: 50px;
    border-radius: 50%;
    /* margin-bottom: 10px; */
}

.author-details {
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.author-name {
    font-family: 'Passion One', cursive;
    align-self: flex-start;
    margin-left: 20px;
}

.author-info {
    align-self: flex-end;
    margin-top: -10px;
}

p {
    font-family: 'Playfair Display', serif;
}

.share-recipe-button {
    display: flex;
    margin-left: 30px;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

.last-line {
    margin-top: -15px;
}

hr {
    height: 10px;
    background-image: url();
    background-repeat: repeat-x;
    margin: 5px auto;
    width: 50%;
}

.footer-logo {
    text-align: center;
}
  